<!-- <app-header></app-header> -->
<div class="container" style="min-height: 58vh;">
  <div class="row">
    <div class="col-12" *ngIf="spinner">
      <div class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="col-12" *ngIf="!spinner">
      <div class="row">
        <div class="col-12">
          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="createNotification" type="button" class="btn btn-primary btn-circle float-right mt-3"
                title="Add new class" (click)="onAddClick()">
                <i class="fa fa-plus" style="font-size:1.2rem" aria-hidden="true"></i>
              </button>
            </div>

          </div>
        </div>
        <div class="col-12 div-with-height-and-scroll">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Class Name</th>
                <th scope="col">Class Standard</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let class of classes; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{class.class_name}}
                </td>
                <td>
                  {{class.class_standard}}
                </td>
                <td>
                  <span style="margin-right: 3%">
                    <i (click)="oneditClick(class)" class="fa fa-pencil fa-lg text-warning" aria-hidden="true"></i>
                  </span>
                  <span>
                    <i (click)="ondeleteClick(class)" class="fa fa-trash fa-lg text-danger" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

