<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center p-5" style="min-height: 68vh;" >
    <div class="col-xs-9 col-sm-6 col-md-3 col-lg-3 shadow mb-5 bg-white rounded p-3">

      <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
        <div *ngIf="!loginForm.valid && submitted" class="alert alert-danger" role="alert">
          User Id OR Password is in correct, try again.
        </div>
        <div class="form-group">
          <label>Login Id</label>
          <input type="text" formControlName="userid" class="form-control" [attr.disabled]="spinner ? 'disabled' : null"
            [ngClass]="{ 'is-invalid': submitted && f.userid.errors }" placeholder="Enter User Id" />
          <div *ngIf="submitted && f.userid.errors" class="invalid-feedback">
            <div *ngIf="f.userid.errors.required">User Id is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Pass word</label>
          <input type="password" formControlName="pass" class="form-control"
            [attr.disabled]="spinner ? 'disabled' : null" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }"
            placeholder="Enter password" />
          <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
            <div *ngIf="f.pass.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" *ngIf="!spinner">Login</button>
          <button class="btn btn-primary" *ngIf="spinner" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Logging you in....
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
